@font-face {
  font-family: 'inpage-icons';
  src: url('../font/inpage-icons.eot?94958721');
  src: url('../font/inpage-icons.eot?94958721#iefix') format('embedded-opentype'),
       url('../font/inpage-icons.woff2?94958721') format('woff2'),
       url('../font/inpage-icons.woff?94958721') format('woff'),
       url('../font/inpage-icons.ttf?94958721') format('truetype'),
       url('../font/inpage-icons.svg?94958721#inpage-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'inpage-icons';
    src: url('../font/inpage-icons.svg?94958721#inpage-icons') format('svg');
  }
}
*/
 
 [class^="icon-sxc-"]:before, [class*=" icon-sxc-"]:before {
  font-family: "inpage-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-sxc-cancel:before { content: '\e800'; } /* '' */
.icon-sxc-eye-off:before { content: '\e801'; } /* '' */
.icon-sxc-eye:before { content: '\e802'; } /* '' */
.icon-sxc-glasses:before { content: '\e803'; } /* '' */
.icon-sxc-scissors:before { content: '\e804'; } /* '' */
.icon-sxc-paste:before { content: '\e805'; } /* '' */
.icon-sxc-bomb:before { content: '\e806'; } /* '' */
.icon-sxc-export:before { content: '\e807'; } /* '' */
.icon-sxc-code:before { content: '\e808'; } /* '' */
.icon-sxc-pencil:before { content: '\e809'; } /* '' */
.icon-sxc-replace:before { content: '\e80a'; } /* '' */
.icon-sxc-language:before { content: '\e80b'; } /* '' */
.icon-sxc-table:before { content: '\e80c'; } /* '' */
.icon-sxc-fields:before { content: '\e80d'; } /* '' */
.icon-sxc-list-numbered:before { content: '\e80e'; } /* '' */
.icon-sxc-th-list:before { content: '\f00b'; } /* '' */
.icon-sxc-ok:before { content: '\f00c'; } /* '' */
.icon-sxc-settings:before { content: '\f013'; } /* '' */
.icon-sxc-clock:before { content: '\f017'; } /* '' */
.icon-sxc-tag:before { content: '\f02b'; } /* '' */
.icon-sxc-plus-circled:before { content: '\f055'; } /* '' */
.icon-sxc-minus-circled:before { content: '\f056'; } /* '' */
.icon-sxc-plus:before { content: '\f067'; } /* '' */
.icon-sxc-minus:before { content: '\f068'; } /* '' */
.icon-sxc-manage:before { content: '\f085'; } /* '' */
.icon-sxc-filter:before { content: '\f0b0'; } /* '' */
.icon-sxc-list:before { content: '\f0ca'; } /* '' */
.icon-sxc-spinner:before { content: '\f110'; } /* '' */
.icon-sxc-options:before { content: '\f141'; } /* '' */
.icon-sxc-move-up:before { content: '\f148'; } /* '' */
.icon-sxc-move-down:before { content: '\f149'; } /* '' */
.icon-sxc-sliders:before { content: '\f1de'; } /* '' */
.icon-sxc-share-alt:before { content: '\f1e0'; } /* '' */
.icon-sxc-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-sxc-trash-empty:before { content: '\f2ed'; } /* '' */