
.icon-sxc-cancel:before { content: '\e800'; } /* '' */
.icon-sxc-settings:before { content: '\e801'; } /* '' */
.icon-sxc-manage:before { content: '\e802'; } /* '' */
.icon-sxc-glasses:before { content: '\e803'; } /* '' */
.icon-sxc-scissors:before { content: '\e804'; } /* '' */
.icon-sxc-paste:before { content: '\e805'; } /* '' */
.icon-sxc-bomb:before { content: '\e806'; } /* '' */
.icon-sxc-export:before { content: '\e807'; } /* '' */
.icon-sxc-th-list:before { content: '\f00b'; } /* '' */
.icon-sxc-ok:before { content: '\f00c'; } /* '' */
.icon-sxc-clock:before { content: '\f017'; } /* '' */
.icon-sxc-tag:before { content: '\f02b'; } /* '' */
.icon-sxc-pencil:before { content: '\f040'; } /* '' */
.icon-sxc-plus-circled:before { content: '\f055'; } /* '' */
.icon-sxc-minus-circled:before { content: '\f056'; } /* '' */
.icon-sxc-plus:before { content: '\f067'; } /* '' */
.icon-sxc-minus:before { content: '\f068'; } /* '' */
.icon-sxc-eye:before { content: '\f06e'; } /* '' */
.icon-sxc-eye-off:before { content: '\f070'; } /* '' */
.icon-sxc-replace:before { content: '\f074'; } /* '' */
.icon-sxc-filter:before { content: '\f0b0'; } /* '' */
.icon-sxc-list:before { content: '\f0ca'; } /* '' */
.icon-sxc-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-sxc-table:before { content: '\f0ce'; } /* '' */
.icon-sxc-spinner:before { content: '\f110'; } /* '' */
.icon-sxc-fields:before { content: '\f11c'; } /* '' */
.icon-sxc-code:before { content: '\f121'; } /* '' */
.icon-sxc-move-up:before { content: '\f148'; } /* '' */
.icon-sxc-move-down:before { content: '\f149'; } /* '' */
.icon-sxc-language:before { content: '\f1ab'; } /* '' */
.icon-sxc-sliders:before { content: '\f1de'; } /* '' */
.icon-sxc-share-alt:before { content: '\f1e0'; } /* '' */
.icon-sxc-cart-arrow-down:before { content: '\f218'; } /* '' */
.icon-sxc-trash-empty:before { content: '\f2ed'; } /* '' */
.icon-sxc-options:before { content: '\f39b'; } /* '' */